@CHARSET "UTF-8";
/* * {
	box-sizing: border-box;
}*/

html, body {
    height: 100%;
}

button {
	cursor: pointer;
}

footer {
	padding: 4rem 0;
    margin-top: 4rem;
    font-size: 85%;
    background-color: #f7f7f7;
    color: #636c72;
    
}

footer p {
	margin: 0;
}

header {
	position: relative;
	height: 6rem;
	margin-bottom: 5rem;
}

header h1, header nav {
	line-height: 6rem;
	display: block;
	position: absolute;
	top: 0;
}

header h1 {
	left: 15px;
}


header nav {
	right: 15px;
}

nav ul li {
	display: inline-block;
	list-style: none;
	padding-left: 2rem;
}

nav ul {
	margin: 0;
}

.content {
	min-height: 100%; 
	height: 100%;
}

.login-page {
	width: 275px;
	position: absolute;
	top: 50%;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.login-logo span, .login-page h1, header h1 {
	text-transform: uppercase;
	font-weight: bold;
}

.login-logo .group22 {
	font-size: 3rem;
}

.login-logo .useradmin {
	font-size: 1.5rem;
}

.login-page h1, header h1 {
	font-size: 1.6rem;
}

.login-page h1 {
	margin-bottom: 1.5rem;
}

.login-page a {
	display: block;
}

.login-page a:hover, .login-page a:focus, header h1 a:hover, header h1 a:focus  {
	color: #0275d8;
	text-decoration: none;
}

.login-button {
	width: 100%;
	font-weight: bold;
}