body, html {
	width: 100%;
	height: 100%;
}

.master-container {
	display: block;
	width: 100%;
	height: 100%;
}

.side-panel {
	display: block;
	width: 300px;
	height: 100%;
	background-color: black;
	color: #fff;
}